* {
  font-family: "Poppins", sans-serif;
}

/* The Top Elements */
.top {
  margin: 0.9375rem 1.25rem 0.625rem;
  height: 18.75rem;
  display: grid;
  place-content: center;

  text-align: center;
}

.notBold {
  font-weight: lighter;
  font-size: 1.5625rem;
  text-align: center;
  margin: 0rem 0rem 0.1875rem;
  color: hsl(234, 12%, 34%);
}

.boldHeading {
  font-weight: bold;
  font-size: 1.5625rem;
  margin: 0.1875rem 0rem 0.75rem;
  color: hsl(234, 12%, 34%);
}

.subHead {
  font-weight: normal;
  font-size: 1.0625rem;
  margin: 0.75rem 1.25rem 0rem;
  line-height: 1.5625rem;
  color: hsl(229, 6%, 66%);
}

/* 4 Cards */
.supervisor {
  margin: 0rem 1.25rem 1.25rem;
  height: 14.0625rem;

  background-color: white;
  border-top: 0.3438rem solid hsl(180, 62%, 55%);
  border-radius: 0.5625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(182, 178, 178, 0.2),
    0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.teamBuilder {
  margin: 1.25rem 1.25rem 1.25rem;
  height: 14.0625rem;

  background-color: white;
  border-top: 0.3438rem solid hsl(0, 78%, 62%);
  border-radius: 0.5625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(182, 178, 178, 0.2),
    0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.karma {
  margin: 1.25rem 1.3125rem 1.25rem;
  height: 14.375rem;

  background-color: white;
  border-top: 0.3438rem solid hsl(34, 97%, 64%);
  border-radius: 0.5625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(182, 178, 178, 0.2),
    0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.calculator {
  margin: 1.25rem 1.4375rem 1.25rem;
  height: 14.375rem;

  background-color: white;
  border-top: 0.3438rem solid hsl(212, 86%, 64%);
  border-radius: 0.5625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(182, 178, 178, 0.2),
    0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

/* all text in all 4 cards */
.cardHeading {
  font-size: 1.375rem;
  margin: 1.25rem 1.5625rem 0.75rem;
  color: hsl(234, 12%, 34%);
}

.cardPara {
  font-size: 1rem;
  margin: 0.75rem 1.5625rem 20px;
  line-height: 1.5625rem;
  color: hsl(229, 6%, 66%);
}

.cardIcon {
  margin: 2.5rem 1.875rem 0.75rem;
  text-align: right;
}

/* DESKTOP version */
@media (min-width: 75rem) {
  .top {
    height: 10.5625rem;
    width: 100%;
    margin: 6.25rem auto 6.25rem;
  }
  .notBold {
    font-size: 2.5rem;
  }
  .boldHeading {
    font-size: 2.5rem;
  }
  .subHead {
    font-size: 1.25rem;
    width: 37.5rem;
    line-height: 1.875rem;
  }

  .fourCards {
    display: flex;
    place-content: center;
    width: 100%;
    height: 38.4375rem;
  }

  .supervisor {
    position: absolute;
    width: 25rem;
    margin: 7.5rem 55.3125rem 0 0;
  }
  .teamBuilder {
    position: absolute;
    width: 25rem;
    margin: 0 auto;
  }
  .karma {
    position: absolute;
    width: 25rem;
    margin: 16.5625rem auto 0;
  }
  .calculator {
    position: absolute;
    width: 25rem;
    margin: 7.5rem 0rem 0 55.6875rem;
  }
}

/* FOOTER */
.attribution {
  font-size: 0.7rem;
  text-align: center;
  color: darkgray;
  font-style: italic;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  text-decoration: none;
}
